<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="../static/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">

		<title>CFG Software 2 - G7 - Reward App</title>
	</head>

    <body>

    <header>

        <nav>
            <div class="logo">RewardQuest</div>
            <div class="hamburger">
            <div class ="line"></div>
            <div class ="line"></div>
            <div class ="line"></div>
            </div>

	        <nav class="navbar">

            <ul>
                <li><a href="/" class="active" aria-current="page">Home</a></li>
                <li><a href="/child" class="nav-link">Child</a></li>
                <li><a href="/tasks" class="nav-link">Tasks</a></li>
                <li><a href="/rewards" class="nav-link">Rewards</a></li>
                <li><a href="/chart" class="nav-link">Charts</a></li>
                <li><a href="/logout" class="nav-link">Logout</a></li>
            </ul>
	        </nav>
        </nav>

    </header>


			<!--<div class="central_items">-->
				<div class="balloon_box">
					<h1 id="page_title">
						RewardQuest

					</h1>
                </div>
                <br>
                <br>
                <div class="title_copy">
                    <br>
					<p>
                        <b>🌟 Welcome to RewardQuest: Empower Your Child's Journey! 🌟</b>
                        <br><br>
                        At RewardQuest, we believe in nurturing your child's growth through positive reinforcement and achievement tracking. Imagine a world where setting and recording your children's accomplishments becomes an exciting and rewarding adventure! 🚀
                        <br><br>
                        🌈 Unleash Potential: Fuel your child's motivation with a personalised platform that empowers them to accomplish tasks, earn points, and achieve their goals. From completing homework to tidying up their room, every small step matters.
                        <br><br>📊 Visualise Progress: Our interactive charts provide a clear snapshot of your child's journey. Gain insights into their accomplishments and areas for improvement, fostering a sense of achievement that both you and your child can celebrate together.
                        <br><br>🏆 Inspire Through Rewards: Let your child choose their own rewards, turning their hard work into memorable experiences. From a special treat to an unforgettable adventure, you'll be amazed at how our system encourages responsibility and a healthy sense of accomplishment.
                        <br><br>🔗 Ready to Get Started? Embark on this journey with us by signing up or logging in. Together, we'll create a world where your child's achievements are celebrated, progress is tracked, and confidence knows no bounds.
                        <br><br>🌟 Join RewardQuest today and let the adventure begin! 🌟 <br>
					</p>
                    <br>
                    <br>
					<p>
						<a class="Button" href="/login" role="button"
							>Log in or Signup</a>
					</p>

                    <br>

				</div>
			<!--</div>-->


			<footer class="footer">
				<p>&copy; CFG Software2 - G7 2023</p>

			</footer>
	</body>
</html>