<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="../static/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">

		<title>RewardQuest Reward Redemption</title>
	</head>


    <body>

        <header>

            <nav>
                <div class="logo">RewardQuest</div>
                <div class="hamburger">
                <div class ="line"></div>
                <div class ="line"></div>
                <div class ="line"></div>
                </div>

                <nav class="navbar">

                    <ul>
                      <li><a href="/homepage" class="nav-link">Home</a></li>
                        <li><a href="/child" class="nav-link">Child</a></li>
                        <li><a href="/tasks" class="nav-link">Tasks</a></li>
                        <li><a href="/rewards" class="nav-link active" aria-current="page">Rewards</a></li>
                        <li><a href="/chart" class="nav-link">Charts</a></li>
                        <li><a href="/logout" class="nav-link">Logout</a></li>
                    </ul>
                    </nav>
                </nav>
			</div>
			<div class="central_items">
				<div>
					<h1 class="central_titles">Redeem a Reward</h1><br>
					<form id="form-createrewardredeem" action="/api/createrewardredeem" method="POST">
						<label for="inputRewardID" class="sr-only">RewardID</label>
							<select id="inputRewardID" name="inputRewardID"
								class="form-control"
								placeholder="RewardID" >
        						{% for opt in myRewards %}
            						<option value={{ opt[0] }}
               						{% if myValue==opt %}
                   							selected="true"
               						{% endif %}>{{ opt[1] }}
            						</option>
        							{% endfor %}
 							</select><br>
						<label for="inputChildID" class="sr-only">Child</label>
							<select id="inputChildID" name="inputChildID"
								class="form-control"
								placeholder="ChildID" >
								{% for kid in myKids %}
									<option value={{ kid[0] }}
									{% if myKidValue==kid %}
											selected="true"
									{% endif %}>{{ kid[1] }}
									</option>
									{% endfor %}
							</select><br><br>

						<button
							class="Button"
							type="submit"
						>
							Redeem Reward
						</button>

					</form>
					<br>
				</div>
			</div>
			<footer class="footer">
				<p>&copy; CFG Software2 - G7 2023</p>
			</footer>

		</div>
		<script>
			document
				.querySelector("#form-createrewardredeem")
				.addEventListener("submit", async function (e) {
					e.preventDefault();
					console.log(new URLSearchParams(new FormData(e.target)).toString());
					const res = await fetch("/api/createrewardredeem", {
						body: new URLSearchParams(new FormData(e.target)).toString(),
						method: "POST",
						headers: {
							"Content-Type": "application/x-www-form-urlencoded",
						},
					});
				.then(response => {
            if (response.status != 201) {
                response.json().then(data => {
                    fetch("/something-went-wrong", {
                        method: "POST",
                        body: JSON.stringify({"message": data["message"]}),
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": csrf_token,
                        },
                    })
                    .then(response => response.text())
                    .then(text => {
                        window.document.body.innerHTML = text;
                    })
                });
            }
            else {
                return response.blob().then(blob => {
                    const file = new Blob([blob], { type: 'text/csv' });
                    const fileURL = URL.createObjectURL(file);
                    let fileLink = document.createElement('a');
                    fileLink.href = fileURL;
                    fileLink.download = "result.csv";
                    fileLink.click();
                    window.document.body.innerHTML = "<h1>Reward Redeemed</h1>";
                });
            }
        })
        return false;.
    }
		</script>
	</body>
</html>