<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="../static/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">

		<title>RewardQuest Home</title>
	</head>

    <body>

        <header>

            <nav>
                <div class="logo">RewardQuest</div>
                <div class="hamburger">
                <div class ="line"></div>
                <div class ="line"></div>
                <div class ="line"></div>
                </div>

                <nav class="navbar">

                    <ul>
                        <li><a href="/homepage" class="nav-link active" aria-current="page">Home</a></li>
                        <li><a href="/child" class="nav-link">Child</a></li>
                        <li><a href="/tasks" class="nav-link">Tasks</a></li>
                        <li><a href="/rewards" class="nav-link">Rewards</a></li>
                        <li><a href="/chart" class="nav-link">Charts</a></li>
                        <li><a href="/logout" class="nav-link">Logout</a></li>
                    </ul>
                    </nav>
            </nav>

        </header>


        <div  class="central_items">
            <br>
            <br>
            <div class="homepagerow">
                <div class="homepagecolumn">
                    <h1 class="central_titles">Child</h1>
                    <br>
                    <p> 🌈 Fostering Growth and Confidence
                        <br>
                        <br>
                        Create and manage profiles for your children. Empower them to embark on a journey of achievement, personal growth, and self-discovery. Customise tasks and rewards to align with their unique interests, helping them thrive in a supportive environment.
                    </p>
                    <br>
                    <p>
                        <a class="Button" href="/child" role="button"
                                    >Go to Child</a>
                    </p>
                    <br>
                </div>


                <div class="homepagecolumn">
                    <h1 class="central_titles">Tasks</h1>
                    <br>
                    <p> 💡 Transforming Tasks into Triumphs
                        <br>
                        <br>
                        You're in control of setting up tasks that resonate with your child's daily life. From completing chores to excelling in their studies, each task is a stepping stone toward their accomplishments. Assign points to tasks, motivating them to excel and earn rewards.
                    </p>
                    <br>
                    <p>
                        <a class="Button" href="/tasks" role="button"
                                    >Go to Tasks</a>
                    </p>
                    <br>
                </div>
            </div>
            <br>
            <br>
            <div class="homepagerow">
                <div class="homepagecolumn">
                    <h1 class="central_titles">Rewards</h1>
                    <br>
                    <p> 🏆 Celebrating Milestones Together
                        <br>
                        <br>
                        Unlock the potential of positive reinforcement by managing rewards. Let your child choose rewards as they accumulate points. These rewards are tokens of their hard work, fostering a sense of responsibility and achievement.
                    </p>
                    <br>
                    <p>
                        <a class="Button" href="/rewards" role="button"
                                    >Go to Rewards</a>
                    </p>
                    <br>
                </div>

                <div class="column">
                    <h1 class="central_titles">Charts</h1>
                    <br>
                    <p> 📊 Visualising Progress and Success
                        <br>
                        <br>
                        Discover the power of tracking progress. Interactive charts offer a snapshot of your child's journey, showcasing completed tasks, earned points, and milestones reached. Gain insights into their growth and celebrate their achievements as a team.
                    </p>
                    <br>
                    <p>
                        <a class="Button" href="/chart" role="button"
                                    >Go to Charts</a>
                    </p>
                    <br>
                </div>
            </div>
            <br>

        </div>


			<footer class="footer">
				<p>&copy; CFG Software2 - G7 2023</p>
			</footer>
    </body>
</html>