<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="../static/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">

		<title>RewardQuest Task Created</title>
	</head>


    <body>

        <header>

            <nav>
                <div class="logo">RewardQuest</div>
                <div class="hamburger">
                <div class ="line"></div>
                <div class ="line"></div>
                <div class ="line"></div>
                </div>

                <nav class="navbar">

            <ul>
                        <li><a href="/homepage" class="nav-link">Home</a></li>
                        <li><a href="/child" class="nav-link" >Child</a></li>
                        <li><a href="/tasks" class="nav-link active" aria-current="page">Tasks</a></li>
                        <li><a href="/rewards" class="nav-link">Rewards</a></li>
                        <li><a href="/chart" class="nav-link">Charts</a></li>
                        <li><a href="/logout" class="nav-link">Logout</a></li>
            </ul>
                    </nav>
                </nav>

        </header>

        <div class="central_items">
            <p>
                <br>
                🌟 Task record created! 🌟<br>
            </p>
            <br>
            <p>
                <a href="/tasks" class="Button">Add New Task</a>
            </p>
            <br>

        </div>


			<footer class="footer">
				<p>&copy; CFG Software2 - G7 2023</p>

			</footer>

	</body>
</html>